/* Sidebar header (and topbar for mobile) */
.wy-side-nav-search, .wy-nav-top {
    background: #d8e2ec;
}

/* Sidebar */
.wy-nav-side {
    background: #306278;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal;
}
